<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products
    </ion-title>
    <ion-button color="primary" slot="end" style="margin-right: 30px;" (click)="scanCustomer()">{{customer}}</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select placeholder="Pilih Category" [(ngModel)]="filter" ngDefaultControl style="width: 150px">
    <ion-select-option value="-1">All</ion-select-option>
    <ion-select-option *ngFor="let item of listCategory" value="{{item.id_product_category}}">{{item.name}}</ion-select-option>
  </ion-select>
<div class='container'>
  <div class='list-item'>
    <div *ngFor="let item of listProduct | filterProduct: filter" class='item' no-border (click)="addItem(item)">
      <!--<ion-icon [name]="item.icon" slot="start"></ion-icon>-->
        <img class='item-img' />
        <h6 [(ngModel)]="newItem.id" ngDefaultControl style="display: none">{{item.id_product_category}}</h6>
        <h6 class='item-title' [(ngModel)]="newItem.title" ngDefaultControl >{{item.name}}</h6>
        <p class="item-note" [(ngModel)]="newItem.price" ngDefaultControl style="color: red; font-size: 10px">
          Rp {{item.price}}
        </p>
        <button>Add to Cart</button>
    </div>
  </div>

  <!-- CART SECTION -->

  <div class='cart'>
    <h6 style="font-weight:bold; font-size: 20px; ">Cart</h6>
    <button style="background-color: tan; height: 20px;" (click)="clearCart();">Clear Cart</button>
    <button style="background-color: salmon; height: 20px;" (click)="loadSaveOrder();">Saved Order</button>
    <!-- <ion-select placeholder="Saved Order.." [(ngModel)]="filter" ngDefaultControl style="width: 150px">
      <ion-select-option *ngFor="let item of saved" value="{{item.id}}">{{item.title}}</ion-select-option>
    </ion-select> -->
    <div scrollY="true" id="myFixZone" scrollY="true">
      <div class='cart-item' >
        <div class='item' *ngFor="let item of detail" >
          <img class='item-img' />
          <ion-label style="display: none" [(ngModel)]="newItem.id" ngDefaultControl>{{item.id}}</ion-label>
          <h6 class='item-title'>{{item.title}}</h6>
          <span class='price' style="color: red">Rp {{item.price}}</span><span> x </span><span class='qty'>{{item.qty}}</span><span><button (click)="deleteItem(item)">X</button></span>
        </div>
       </div>
    </div>

    <ion-item lines="none">
      <ion-label>
        Diskon: <span style="color: red">Rp 0</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Total Bayar: <span style="color: red">Rp {{total}}</span>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button color="danger" disabled="true">Masukkan Discount</ion-button>
    </ion-item>
    
    <ion-item lines="none">
      <ion-button color="primary" style="width: 50%" (click)="btnBayar()">Bayar</ion-button>
      <ion-button color="secondary" style="width: 50%" (click)="saveOrder()">Simpan</ion-button>
    </ion-item>
   
   
  </div>
</div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
