
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.list-item {
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    min-width: 550px;
    max-width: calc(100% - 200px);
    overflow: auto;
    max-height: 900px;

    .item-img {
        background: grey;
        height: 150px;
        width: 100%;
    }

    .item {
        min-width: 160px;
        border: 1px solid #e6e6e6;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 10px;
        text-align: center;

        .item-title {
            margin-bottom: 0px;
        }

        .item-note {
            margin-top:5px;
        }
    }
}

@media only screen and (max-width: 525px) {
    .cart {
        display: none;
    }

    .list-item { 
        min-width: 0 !important;
        width: 100%;
        max-width: 100%;
        .item {
            width: calc(50% - 20px);
            
        }
    }
}

.cart {
    right: 0;
    min-width: 200px;

    .cart-item {
        border-bottom: 1px solid #e6e6e6;
        padding:20px 0;
        .item {
        }
    }
}